---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { SkipLink } from 'accessible-astro-components'

/**
 * Header Component
 *
 * @description A component that displays the header with navigation and logo
 */
interface Props {
  /**
   * The source URL for the logo image
   */
  logoSrc?: string
}

const { logoSrc = '/logo.svg' }: Props = Astro.props
---

<header class="bg-background/80 sticky top-0 z-50 backdrop-blur-sm">
  <SkipLink href="#main-content">Skip to main content</SkipLink>
  <div class="container">
    <nav class="flex items-center justify-between py-4">
      <a href="/" class="flex items-center gap-2">
        <Image class="h-8 w-8" src={logoSrc} alt="Logo" width={32} height={32} />
        <span class="text-xl font-bold">Riley Skipper</span>
      </a>
      <ul class="flex items-center gap-8">
        <li>
          <a href="/" class="hover:text-link-hover">Home</a>
        </li>
        <li>
          <a href="/about" class="hover:text-link-hover">About</a>
        </li>
        <li>
          <a href="/portfolio/" class="hover:text-link-hover">Portfolio</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-link-hover">Get in Touch</a>
        </li>
        <li>
          <a href="https://github.com/rileyskip" class="hover:text-link-hover" target="_blank" rel="noopener">
            <Icon name="lucide:github" class="h-5 w-5" />
            <span class="sr-only">GitHub</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
